.cor-1 {
    background-color: tomato;
    height: 100px;
}
.cor-2 {
    background-color: violet;
    height: 100px;  
}
.cor-3 {
    background-color: pink;
    height: 100px;
}
.cor-4 {
    background-color: blueviolet;
    height: 100px;      
}
.cor-5 {
    background-color: rgba(255, 255, 0, 0.438);
    height: 100px;
}
.cor-6 {
    background-color: green;
    height: 100px;
}

